<div{{ attributes }} class="ordered">
  {% if multiple %}
  <div>
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
  </div>
  {% endif %}
</div>
