
<div  id='themeController' >
  <div class="mx-auto pb-[100px] bg-[#F2F2F2] dark:bg-[#121721] min-h-screen transition duration-300 ease">
    <header role="banner" class='z-[0] relative'>
      {{ page.header }}
    </header>
    <main role="main" class='px-[24px] md:px-[50px] lg:px-[165px] mt-[-30px] z-20 relative'>
      {{ page.content }}
    </main>
  </div> 

</div>

 